@import "tailwindcss";

.fade-enter {
  opacity: .5;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: .5;
  transition: opacity 300ms ease-in-out;
}


@theme {
  --animate-bob: bob 20s ease-in-out infinite;

  @keyframes bob {
    0% {
      transform: translateY(0px)  ;
    }

    50% {
      transform: translateY(20px) ;
    }

    100% {
      transform: translateY(0px) ;
    }
  }

    --animate-bobzoom: bobzoom 20s ease-in-out infinite;

  @keyframes bobzoom {
    0% {
      transform: translateY(10px) scale(0.8) ;
      opacity: 0.4;
    }
    
    20% {
      
      opacity: 0.9;
    }
    
    
    50% {
      transform: translateY(20px) scale(1) ;
      opacity: 1;
    }
    
      80% {
      
      opacity: 0.9;
    }
    100% {
      transform: translateY(10px) scale(0.8) ;
      opacity: 0.4;
    }
  }
}