@import "tailwindcss";

@theme {
  --animate-bounce-in-up: bounce-in-up 300ms cubic-bezier(0.25, 0.7, 0.75, 1);

  @keyframes bounce-in-up {
    0% {
      transform: translateY(100%);
      
    }


    85% {
      transform: translateY(-4%);
    }

    100% {
      transform: translateY(0);
    }
  }
}
