@import "tailwindcss";

@theme {
    --animate-rise-enter: rise-enter 1s ease-out forwards;

    @keyframes rise-enter {
        0% {
            transform: translateY(100%);

        }

        25% {}

        100% {
            transform: translateY(10%);

        }

    }

    --animate-snail-text-1: fadein 1s linear 1.0s forwards;
    --animate-snail-text-2: fadein 1s linear 1.2s forwards;
    --animate-snail-text-3: fadein 1s linear 1.4s forwards;
    --animate-snail-text-4: fadein 1s linear 1.6s forwards;
    --animate-snail-text-5: fadein 1s linear 1.8s forwards;
    --animate-snail-text-6: fadein 1s linear 2.0s forwards;



    --animate-fadein-egregore1: fadein-egregore1 6s ease-out forwards;
    --animate-fadein-egregore2: fadein-egregore2 6s ease-out .8s forwards;
    --animate-fadein-egregore4: fadein-egregore4 6s ease-out 1.4s forwards;

    @keyframes fadein {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fadein-egregore1 {

        0%,
        100% {
            opacity: 0;
        }

        33%,
        66% {
            opacity: 1;
        }
    }

    @keyframes fadein-egregore2 {

        0%,
        100% {
            opacity: 0;
        }

        25%,
        75% {
            opacity: 1;
        }
    }

    @keyframes fadein-egregore4 {

        0%,
        100% {
            opacity: 0;
        }

        20%,
        70% {
            opacity: 1;
        }
    }

    --animate-charwave-container: charwave-container 7s linear 2s forwards;

    @keyframes charwave-container {
        0% {
            opacity: 0;
            transform: scale(.8);
        }

        20%,
        80% {
            opacity: 1;

        }

        100% {
            opacity: 0;
            transform: scale(1.4);
        }
    }

    --animate-charwave: charwave 2s ease-in-out infinite;

    @keyframes charwave {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }
    }

    --animate-honkers: honkers 3s linear forwards;



    @keyframes honkers {

        0% {
            transform: translateX(-100%) skew(10deg)
        }

        10% {
            transform: translateX(0) skew(10deg);
        }

        15%,
        19% {
            transform: skew(-14deg);
        }

        21%,
        87% {
            transform: skew(0);
        }


        88% {
            transform: skew(5deg);
        }

        90% {
            transform: translateX(0) skew(5deg);
        }

        100% {
            transform: translateX(100%) skew(10deg);
        }
    }

    --animate-fadein-orchestra: fadein 10s linear forwards;

    --animate-snail-blip: snail-blip 8s linear forwards;

    --animate-snail-universe: snail-universe 10s linear forwards;

    --animate-snail: snail 10s linear forwards;

    @keyframes snail-blip {

        0%,
        100% {
            opacity: 0;
        }


        20%,
        80% {
            opacity: 1;
        }
    }

    @keyframes snail-universe {

        0% {
            transform: translate(0, -80px);
        }

        100% {
            transform: translate(60px, 0px);
        }
    }

    @keyframes snail {

        0% {
            transform: translate(140px, 50) scale(0.8);

        }

        100% {
            transform: translate(-600px, -120px) scale(1.3);
        }
    }

    --animate-galaxy-spin: spin 16s linear infinite;

    @keyframes galaxy-spin {
        to {
            transform: rotate(360deg);
        }
    }

    --animate-galaxy-fart: galaxy-fart 10s linear forwards;

    @keyframes galaxy-fart {

        0%,
        20% {
            opacity: 0;
        }

        25% {
            opacity: 0;
            transform: translate(0, 100px) scale(1);
        }

        35% {
            opacity: 1;
        }

        100% {
            transform: translate(240px, -100px) scale(1.8);

        }

    }

    --animate-nyeh: nyeh 10s linear forwards;

    @keyframes nyeh {

        0%,
        25% {
            opacity: 0;
            transform: translate(0, 0) scale(0.6);
        }

        27% {
            transform: translate(0, -3px) scale(1.4);
            opacity: 1;
        }


        40%,
        100% {
            opacity: 0;
            /* transform: translate(0,0) scale(1.8); */
            transform: translate(70px, -120px) scale(1.8);

        }

    }

    --animate-goalblip: goalblip 15s linear forwards;
    --animate-goalpost: goalpost 12s ease-in-out 5s forwards;

    --animate-goal-sky: goal-sky 3s ease-out forwards;
    --animate-goal-ground: goal-ground 3s ease-out forwards;

    @keyframes goalblip {

        0%,
        100% {
            opacity: 0;
        }

        7%,
        90% {
            opacity: 1;
        }
    }

    @keyframes goal-sky {

        0% {
            transform: translateY(100px);
        }

        100% {
            transform: translateY(-100px);
        }
    }

    @keyframes goalpost {

        0% {
            transform: translate(0, 0) scale(1);

        }

        100% {
            transform: translate(230px, 60px) scale(0.55);

        }
    }

    @keyframes goal-ground {

        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(0);
        }


    }

    --animate-mario-hand: mario-hand 0.55s ease-in-out infinite;
    --animate-mario: mario 1.8s linear forwards;

    @keyframes mario-hand {

        0%,
        100% {
            transform: rotate(-60deg);
        }

        70% {
            transform: rotate(0);
        }
    }

    @keyframes mario {

        0%,
        100% {
            transform: translateY(120%);
        }

        18%,
        82% {
            transform: translateY(0%);
        }
    }

    --animate-whyangry: whyangry 2.5s ease-out forwards;
    @keyframes whyangry {

        0%, 41.9% {
            transform: translateY(120%);
            opacity: 0.0;
        }
        
        42% {
            transform: translateY(120%);
            opacity: 0.0;
        }

        84%, 88% {
            transform: translateY(10%);
        }



        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.egregore-wave>span {
    display: inline-block;
    /* required so transform affects each letter */
    animation: var(--animate-charwave);
    will-change: transform;
}

/* stagger */
.egregore-wave>span:nth-child(1) {
    animation-delay: 0ms;
}

.egregore-wave>span:nth-child(2) {
    animation-delay: 80ms;
}

.egregore-wave>span:nth-child(3) {
    animation-delay: 160ms;
}

.egregore-wave>span:nth-child(4) {
    animation-delay: 240ms;
}

.egregore-wave>span:nth-child(5) {
    animation-delay: 320ms;
}

.egregore-wave>span:nth-child(6) {
    animation-delay: 400ms;
}

.egregore-wave>span:nth-child(7) {
    animation-delay: 480ms;
}

.egregore-wave>span:nth-child(8) {
    animation-delay: 560ms;
}