body.popup {
  height: 99vh;
  width: 99vw;
  margin: 0;
  background-color: black;
  /* background-color: var(--chromakey-color); */

  position: absolute;
}

body.popup.rotate {
  height: 99vw;
  width: 99vh;    transform: rotate(270deg);
  transform-origin: 50% 27%;
}
