@import "tailwindcss";

@theme {
    --animate-oscillate: oscillate 15s ease-in-out infinite alternate;

    @keyframes oscillate {
        0% {
            transform: translateX(-200px);
        }

        100% {
            transform: translateX(200px);
        }
    }

    --animate-medallion: medallion 5s linear forwards;

    @keyframes medallion {
        0% {
            transform: scale(0.6) rotate(-180deg);
            opacity: 0.2;
        }
        
        20% {
            transform: scale(1) rotate(-10deg);
            opacity: 1;
            
        }

        90% {
            transform: scale(1.6)  rotate(10deg);
            opacity: 1;
        }

        100% {
            transform: scale(2)  rotate(200deg);
            opacity: 0;
        }
    }

  --animate-fade-in-1s: fade-in-1s 1s ease forwards;

  @keyframes fade-in-1s {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}

@layer components {
  .chevron-box {
    position: relative;
    background: black;
    border: 4px solid #60a5fa; /* blue-400 */
    color: white;
  }

  .chevron-box::before,
  .chevron-box::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    transform: translateY(-50%);
  }

  /* Left chevron */
  .chevron-box::before {
    left: -28px;
    border-right: 28px solid black;
  }

  /* Right chevron */
  .chevron-box::after {
    right: -28px;
    border-left: 28px solid black;
  }
}


@font-face {
  font-family: Conduit;
  src: url("/fonts/conduit-itc-std.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: Conduit;
  src: url("/fonts/conduit-itc-std-bold.otf") format("opentype");
  font-weight: bold;
}